---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

* {
    font-family: "Noto Serif";
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
}

/* Header */

.post-header {
    text-align: center;
}

.page-header-image {
    margin-bottom: 30px;
}

.page-header-image, .post-header-image {
    border-radius: 7px;
    box-shadow: 0 0 10px;
}

/* Post content */

.post-content p, .post-content li, .post-content td {
    text-align: justify;
    font-size: 17px;
    line-height: 30px;
}

.post-image figcaption {
    text-align: center;
    padding: 5px 40px;
}

blockquote {
    color: inherit;
    text-indent: 2em;
}

/* Home */

.rss-subscribe {
    font-style: italic;
}
