---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

p, h1, h2, h3, h4, h5, h6, a, li, td {
    font-family: "Noto Serif";
}

.post-content p {
    text-align: justify;
}

.post-image figcaption {
    text-align: center;
    padding: 5px 20px;
}

blockquote {
    color: inherit;
    font-style: normal;
    text-align: justify;
    text-indent: 2em;
}

blockquote > p {
    margin-bottom: 10px;
}

.rss-subscribe {
    font-style: italic;
}
